@import url("https://fonts.googleapis.com/css?family=Khula&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Khula", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #16d9e3;
}

.restart {
  font-size: 1.5rem;
  margin-top: 100px;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /*transition: margin 0.5s ease-out;*/
  background: linear-gradient(90deg, #29323c 0%, #485563 100%);
}

.screen.up {
  margin-top: -100vh;
}

.device-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.device-list li {
  margin: 10px;
}

.device-list button:hover {
  background: #16d9e3;
  color: #fff;
}
.device-list button {
  padding: 10px 20px;
  font-size: 1.5rem;
  border-radius: 15px;
}
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.5rem;
}
button:hover {
  background: #16d9e3;
}
.start-stop {
  margin-top: 30px;
  display: flex;

  list-style: none;
  padding: 0;
}
